.btn {
	color: #fff;
	background-color: #2196F3;
	border-color: #2196F3;
}

.btn:hover {
	color: #fff;
	background-color: #1976D2;
	border-color: #1976D2;
}

.header {
  border-left: 8px solid #2196F3;
}

.header:hover {
	border-left: 12px solid #1976D2;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

a {
  color: #2196F3;
  text-decoration: none;
}

a:hover {
	color: #1976D2;
}

a.no-recolor {
	color: #212121;
}

.side-link:hover {
	border-left: 6px solid #2196F3;
	padding-left: 12px;
	color: #000;
	background-color: #FAFAFA;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}